{% extends "cars/header.html" %}
{% load static %}
{% block title %}Car Details | {{ car.vin }}{% endblock %}
{% block page_title %}<a href="/cars" style="color: black; text-decoration: none;">Car Details</a>{% endblock %}
{% block content %}
    <form action="{% url 'cars:more' car.id %}" method="get">
        <div class="container d-grid col-9">
            <div class="page_list d-grid">
                {% if car.image_url %}
                    <div class="text-center"><img src="{{ car.image_url }}" alt="No car available." class="car_image"></div>
                {% else %}
                    <div class="text-center"><img src="{% static 'cars/images/no_car.svg' %}" alt="No car available." class="car_image"></div>
                {% endif %}
                <label class="text-center" style="padding: 20px; font-size: 25px"><strong>{{ car.short_title }}</strong></label>
                {% include 'cars/includes/messages.html' %}
                <table id="customers">
                        <tr>
                            <th style="font-weight:bold">Detail</th>
                            <th style="font-weight:bold">Value</th>
                        </tr>
                        <tr>
                            <th>VIN: </th>
                            <th>{{ car.vin }}</th>
                        </tr>
                        <tr>
                            <th>Maker: </th>
                            <th>{{ car.make }}</th>
                        </tr>
                        <tr>
                            <th>Model: </th>
                            <th>{{ car.model }}</th>
                        </tr>
                    {% for name_detail, detail in car_detail.items %}
                        {% if detail %}
                            <tr>
                                <th>{{ name_detail }}</th>
                                <th>{{ detail }}</th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="text-center" style="padding: 7px">
                <input type="submit" value="Fetch more details" class="container d-grid">
            </div>
        </div>
    </form>
{% endblock %}
