{% extends "cars/header.html" %}
{% block title %}Car List{% endblock %}
{% block page_title %}<a href="/cars" style="color: black; text-decoration: none;">Car List</a>{% endblock %}
{% block content %}
<div class="container d-grid col-9">
    {% include 'cars/includes/messages.html' %}
    <form action="{% url 'cars:index' %}" method="get">
        <div class="text-center" style="padding: 7px">
            <input name="vin" type="text" placeholder="Search VIN...">
        </div>
    </form>
    <div class="page_list d-grid">
        {% if car_list %}
            <table id="customers">
                <tr>
                    <th style="font-weight:bold">Vehicle Identification number (VIN)</th>
                    <th style="font-weight:bold">Make</th>
                    <th style="font-weight:bold">Model</th>
                </tr>
            {% for car in car_list %}
                <tr>
                    <th><a href="{% url 'cars:detail' car.id %}">{{ car.vin }}</a></th>
                    <th>{{ car.make }}</th>
                    <th>{{ car.model }}</th>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p class="text-center" style="font-size: 200%">No cars are available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
