<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="{% static 'cars/images/car_logo.svg' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'cars/style.css' %}">
    <title>Car Login</title>
</head>
<body>
    {% load crispy_forms_tags %}
    <div class="page_title text-center page_form">
        <div class="messages">{% include 'cars/includes/messages.html' %}</div>
        <h1>Login</h1>
    </div>
    <div class="container">
	    <div class="page_form py-5" style="margin-top: 14%; margin-bottom: 12%">
            <form method="POST">
		        {% csrf_token %}
		        {{ login_form|crispy }}
		        <button class="btn btn-primary container" type="submit" style="font-size: 25px">Login</button>
	        </form>
        </div>
	    <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
    </div>
</body>
</html>
