{% extends "cars/header.html" %}
{% load static %}
{% block title %}Car Profile | Password Reset{% endblock %}
{% block user %}
    <div class="page_title text-center page_form">
        <div class="messages">{% include 'cars/includes/messages.html' %}</div>
        <h1><a href="{% url 'cars:index' %}" style="color: black; text-decoration: none;">Password Reset</a></h1>
    </div>
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <center>
            <p style="font-size: 150%; padding-top: 2%">Enter your email address below, and we'll email instructions for setting a new one.</p>
        </center>
	    <div class="page_form py-3" style="height: 520px">
            <form method="POST">
		        {% csrf_token %}
		        {{ form.as_p }}
		        <button class="btn btn-primary container" type="submit" style="font-size: 25px">Send me instructions!</button>
	        </form>
        </div>
	    <p class="text-center">If you've changed your mind, go to the <a href="{% url 'cars:index' %}">home page</a>.</p>
    </div>
{% endblock %}
