{% extends "cars/header.html" %}
{% load static %}
{% block title %}Car Profile | Password Reset{% endblock %}
{% block user %}
    <div class="page_title text-center page_form">
        <div class="messages">{% include 'cars/includes/messages.html' %}</div>
        <h1><a href="{% url 'cars:index' %}" style="color: black; text-decoration: none;">Password Reset</a></h1>
    </div>
{% endblock %}
{% block card_title %}
    <div class="card-header justify-content-center">
        <h4 class="font-weight-light text-center">Enter your email address below, and we'll email instructions for setting a new one.</h4>
    </div>
{% endblock %}
{% block card_content %}
    {% load crispy_forms_tags %}
    {{ form|crispy }}
{% endblock %}
{% block card_button %}Send me instructions!{% endblock %}
{% block card_footer %}
    <p class="text-center">If you've changed your mind, go to the <a href="{% url 'cars:index' %}">home page</a>.</p>
{% endblock %}
