{% extends "cars/header.html" %}
{% load static %}
{% block title %}Car Profile | Password Reset{% endblock %}
{% block user %}
    <div class="page_title text-center page_form">
        <div class="messages">{% include 'cars/includes/messages.html' %}</div>
        <h1><a href="{% url 'cars:index' %}" style="color: black; text-decoration: none;">Password Reset</a></h1>
    </div>
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container" style="height: 670px; padding-top: 80px">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center">
                        <h3 class="font-weight-light my-4 text-center">{{ form.user.get_username }}</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-primary container" type="submit" style="font-size: 25px">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
