{% extends "cars/header.html" %}
{% block title %}Car Login{% endblock %}
{% block user %}
    <div class="page_title text-center page_form">
        <div class="messages">{% include 'cars/includes/messages.html' %}</div>
        <h1><a href="{% url 'cars:index' %}" style="color: black; text-decoration: none;">Login</a></h1>
    </div>
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
	    <div class="page_form py-5" style="margin-top: 11%; margin-bottom: 8%">
            <form method="POST">
		        {% csrf_token %}
		        {{ login_form|crispy }}
                <br>
		        <button class="btn btn-primary container" type="submit" style="font-size: 25px">Login</button>
	        </form>
        </div>
        <p class="text-center"><a href="{% url 'password_reset' %}">Forgot password?</a></p>
        <br>
	    <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Create an account</a>.</p>
    </div>
{% endblock %}
