{% extends "cars/header.html" %}
{% block title %}Car Profile | Change Password{% endblock %}
{% block user %}
    <div class="page_title text-center page_form">
        <div class="messages">{% include 'cars/includes/messages.html' %}</div>
        <h1><a href="{% url 'profile' %}" style="color: black; text-decoration: none;">Change Password</a></h1>
    </div>
{% endblock %}
{% block card_content %}
    {% load crispy_forms_tags %}
    {{ form|crispy }}
{% endblock %}
{% block card_button %}Change Password{% endblock %}
{% block card_footer %}
    <p class="text-center">If you've changed your mind, go to the <a href="{% url 'cars:index' %}">home page</a>.</p>
{% endblock %}
