{% extends "cars/header.html" %}
{% block title %}Car Profile | Change Password{% endblock %}
{% block user %}
    <div class="page_title text-center page_form">
        <div class="messages">{% include 'cars/includes/messages.html' %}</div>
        <h1>Change Password</h1>
    </div>
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
	    <div class="page_form py-3" style="height: 600px">
            <form method="POST">
		        {% csrf_token %}
		        {{ form.as_p }}
		        <button class="btn btn-primary container" type="submit" style="font-size: 25px">Update</button>
	        </form>
        </div>
	    <p class="text-center">If you've changed your mind, go to the <a href="/cars">home page</a>.</p>
    </div>
{% endblock %}