{% extends "cars/header.html" %}
{% block title %}Car Registration{% endblock %}
{% block user %}
    <div class="page_title text-center page_form">
        <div class="messages">{% include 'cars/includes/messages.html' %}</div>
        <h1><a href="{% url 'cars:index' %}" style="color: black; text-decoration: none;">Register</a></h1>
    </div>
{% endblock %}
{% block card_content %}
    {% load crispy_forms_tags %}
    {{ register_form|crispy }}
{% endblock %}
{% block card_button %}Register{% endblock %}
{% block card_footer %}
    <p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
{% endblock %}
