body {
  background-color: #181818;
}

div.page_title {
  background-color: white;
  padding: 0.5px;
  margin-bottom: 8px;
}

div.container {
  background-color: white;
  padding: 13px;
  border-radius: 8px;
}

div.page_form {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.page_list {
  padding: 25px;
  overflow: auto;
  height: auto;
  max-height: 600px;
}

button.delete_account{
  position: absolute;
  top: -1.9%;
  right: 0.7%;
  font-size: 2vmin;
}

button.logout{
  position: absolute;
  top: 1.3%;
  right: 1%;
  font-size: 2vmin;
}

div.welcome {
  position: absolute;
  top: 1.3%;
  left: 1%;
  font-size: 3vmin;
}

div.messages {
  position: absolute;
  top: 0.6%;
  left: 0.3%;
}

.car_image {
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
  border-radius: 10px 10px;
}

input[type="text"] {
  width: 80%;
  padding: 7px;
}

input[type="submit"] {
  padding: 5px;
  font-size: 20px;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  font-weight:normal;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}